@charset "UTF-8";
/* reser */
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  /* рендеринг текста*/
  text-decoration-skip: objects;
  /* делает подчеркивание необрывистым*/
  -webkit-text-size-adjust: 100%;
  /* - запретить корректировку размера шрифта после изменения ориентации в iOS*/
  -moz-osx-font-smoothing: grayscale;
  /* текст более тонкий в сафари на маках*/
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  /* Убирает синее подсвечивание при клике на деквайсах*/ }

:focus {
  outline: none; }

p,
dd,
dl,
figure,
blockquote {
  margin: 0; }

blockquote,
q {
  quotes: none; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit; }

audio,
video {
  display: block; }

img {
  display: block;
  border: none; }

iframe {
  border: none; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

abbr {
  border: none;
  text-decoration: none; }

b,
strong {
  font-weight: inherit; }

i,
em {
  font-style: inherit; }

dfn {
  font-style: inherit; }

mark {
  background-color: transparent;
  color: inherit; }

small {
  font-size: inherit; }

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-align: left;
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none; }

textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  outline: none; }

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: none;
  font: inherit; }

fieldset {
  padding: 0;
  margin: 0;
  border: none; }

legend {
  display: block;
  padding: 0;
  white-space: normal; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s; }

::-moz-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s; }

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s; }

:focus::-webkit-input-placeholder {
  opacity: 0; }

:focus::-moz-input-placeholder {
  opacity: 0; }

:focus:-moz-placeholder {
  opacity: 0; }

:focus:-ms-input-placeholder {
  opacity: 0; }

svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor; }

[hidden] {
  display: none; }

/* Задизейблейная кнопка */
:disabled,
.disabled {
  cursor: not-allowed; }

/* Цвет выделения текста */
::selection {
  color: #fff;
  background-color: #004fe4; }

/* setups */
/* Ubuntu Fonts */
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

/* Gagalin fonts */
@font-face {
  font-family: 'gagalin';
  src: url("../fonts/Gagalin/Gagalin-Regular.woff") format("woff"), url("../fonts/Gagalin/Gagalin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

/* Lifehack fonts */
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/Lifehack/Lifehack-Medium.woff") format("woff"), url("../fonts/Lifehack/Lifehack-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body {
  font-family: ubuntu, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300; }

/* Позиционирование и Блочная модель */
.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%; }

.section {
  height: 100vh;
  min-height: 650px; }
  .section_center .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden; }

/* common */
.btn {
  display: inline-flex;
  justify-content: center;
  padding: 0.625rem 0.9375rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase; }

.btn_bg_orange {
  background: #e45028; }
  .btn_bg_orange:hover {
    background: #c1401e; }

.btn_bg_gray {
  background: #505050; }
  .btn_bg_gray:hover {
    background: #1f2122; }

.pointer {
  position: fixed;
  top: 5.625rem;
  right: 2.8125rem; }
  @media screen and (max-width: 768px) {
    .pointer {
      display: none; } }

.pointer__list {
  display: flex;
  flex-direction: column; }

.pointer__item {
  position: relative;
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-bottom: 0.625rem; }
  .pointer__item:hover {
    border-color: #fff;
    cursor: pointer; }
  .pointer__item::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background: #fff; }
  .pointer__item_active {
    border-color: #fff; }

.arrow {
  width: 1.875rem;
  height: 0.9375rem;
  margin: 0 auto; }

.arrow__link {
  display: block;
  width: 100%;
  height: 100%; }

.arrow__icon {
  width: 1.875rem;
  height: 0.9375rem; }

.title {
  font-family: "gagalin";
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3.9375rem; } }
  .title_c_yellow {
    color: #f9b43b; }
  .title_c_black {
    color: #2f3234; }

.subtitle {
  font-family: "gagalin"; }

/* blocks */
.hero {
  background: url("../img/back/salad.jpg") center center/cover no-repeat, url("../img/back/texture.png") center center/cover no-repeat;
  background-color: rgba(20, 20, 20, 0.3);
  background-blend-mode: difference;
  padding: 0.9375rem 0 2.5rem 0; }
  .hero .hero__container {
    justify-content: space-between;
    flex: 1; }

.hero__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.hero__buttons {
  display: flex;
  align-items: center;
  margin-left: 4.375rem; }

.hero__nav {
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .hero__nav {
      display: none; } }

.hero__links {
  display: flex;
  align-items: center; }

.hero__btn {
  margin-left: 0.9375rem; }

.hero__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0.75; }
  @media screen and (max-width: 768px) {
    .hero__bottom {
      flex-direction: column;
      align-items: center; } }

.hero__burger {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .hero__burger {
      margin-right: 0; } }

.hero__burger-img {
  max-width: 100%; }

.hero__content {
  padding-top: 6.25rem; }
  @media screen and (max-width: 768px) {
    .hero__content {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .hero__content {
      padding-top: 3.125rem; } }

.hero__text {
  font-family: "lifehack";
  font-size: 4.0625rem;
  line-height: 5.3125rem;
  letter-spacing: -0.10187rem;
  font-weight: 500;
  text-transform: lowercase; }
  @media screen and (max-width: 768px) {
    .hero__text {
      padding: 0 6.25rem; } }
  @media screen and (max-width: 480px) {
    .hero__text {
      font-size: 3.375rem; } }

.nav__list {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 500; }

.nav__item {
  display: flex;
  align-items: center; }
  .nav__item::after {
    display: inline-block;
    content: "";
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background: #fff;
    margin: 0 0.9375rem; }
  .nav__item:last-child::after {
    display: none; }

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5625rem;
  margin-left: 1.875rem; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: flex; } }

.hamburger-menu__bars {
  width: 1.5625rem;
  height: 0.3125rem;
  border-radius: 0.1875rem;
  background: #fff; }

.we {
  background: url("../img/back/bred.jpg") center center/cover no-repeat #f5f2ed;
  text-align: center; }

.we__title {
  margin-bottom: 3.4375rem; }

.we__list {
  display: flex; }
  @media screen and (max-width: 480px) {
    .we__list {
      flex-direction: column; } }

.we__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.25rem;
  max-width: 18.75rem; }
  .we__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .we__item {
      flex-direction: row;
      margin-right: 0;
      margin-bottom: 3.125rem;
      max-width: 100%; }
      .we__item:last-child {
        margin-bottom: 0; } }

.we__image {
  flex: 1;
  height: 6.25rem;
  margin-bottom: 35px; }
  @media screen and (max-width: 480px) {
    .we__image {
      margin-bottom: 0; } }

.we__content {
  flex: 2; }
  @media screen and (max-width: 480px) {
    .we__content {
      flex: 3;
      text-align: left;
      margin-left: 25px; } }

.we__subtitle {
  font-family: "lifehack";
  font-size: 1.5rem;
  letter-spacing: -0.0375rem;
  color: #2f3234;
  margin-bottom: 1.5rem; }
  .we__subtitle_mb_13 {
    margin-bottom: 0.8125rem; }

.we__text {
  line-height: 1.5rem;
  color: rgba(47, 50, 52, 0.8); }

.team {
  position: relative;
  background: url("../img/back/team.jpg") center center/cover no-repeat; }

.team__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  padding: 5% 2% 0 7%;
  background: #2f3234;
  opacity: 0.93; }
  @media screen and (max-width: 768px) {
    .team__inner {
      left: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

@media screen and (max-width: 768px) {
  .team__content {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.team__title {
  margin-bottom: 2.8125rem; }

.accordeon__item {
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 768px) {
    .accordeon__item {
      text-align: center; } }
  .accordeon__item_active .accordeon__trigger::before {
    transform: rotate(180deg); }
  .accordeon__item_active .subtitle {
    color: #f9b43b; }
  .accordeon__item_active .accordeon__desc-wrap {
    display: flex; }

.accordeon__trigger {
  display: flex;
  align-items: center;
  margin-bottom: 1.0625rem; }
  .accordeon__trigger::before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #f9b43b transparent transparent transparent;
    margin-right: 0.625rem; }
  @media screen and (max-width: 768px) {
    .accordeon__trigger {
      justify-content: center; } }

.accordeon__desc-wrap {
  display: none; }

.accordeon__desc {
  display: flex;
  padding-left: 1.125rem;
  padding-bottom: 1.125rem; }
  @media screen and (max-width: 768px) {
    .accordeon__desc {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .accordeon__desc {
      padding: 0 5.15625rem 0 5.15625rem; } }

.accordeon__img-wrap {
  flex-shrink: 0;
  max-width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .accordeon__img-wrap {
      margin-right: 0;
      margin-bottom: 1.25rem; } }

.accordeon__img {
  max-width: 100%;
  height: 100%; }

.accordeon__text {
  line-height: 1.5rem;
  max-width: 21.5625rem; }

.accordeon__name {
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .accordeon__name {
      margin-bottom: 1.25rem; } }

.menu {
  position: relative;
  background: url("../img/back/menu.jpg") center center/cover no-repeat; }

.menu__title {
  position: absolute;
  margin-top: 5%;
  margin-left: 5%; }

.menu__accordeon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .menu__accordeon {
      width: 100%; } }

.menu__list {
  display: flex;
  height: 100%; }

.menu__item {
  display: flex;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .menu__item {
      display: none; } }
  @media screen and (max-width: 480px) {
    .menu__item_active {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1; } }
  .menu__item_active .menu__desc {
    min-width: 0; }
  .menu__item_active .menu__subtitle {
    color: #f9b43b; }
  .menu__item_active .menu__desc-wrap {
    width: 33.75rem; }
    @media screen and (max-width: 768px) {
      .menu__item_active .menu__desc-wrap {
        width: 100%; } }

.menu__trigger_meat {
  background: url("../../img/menu/meat.jpg") center center/cover no-repeat; }

.menu__trigger_vegan {
  background: url("../../img/menu/vegan.jpg") center center/cover no-repeat; }

.menu__trigger_diet {
  background: url("../../img/menu/diet.jpg") center center/cover no-repeat; }

.menu__trigger {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 5rem; }
  .menu__trigger::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7); }
  @media screen and (max-width: 480px) {
    .menu__trigger {
      width: 3.75rem; } }

.menu__subtitle {
  display: block;
  transform-origin: 0 100%;
  transform: rotate(-90deg) translate(2.5rem, 150%);
  white-space: nowrap;
  font-family: "gagalin";
  font-size: 2.5rem; }
  @media screen and (max-width: 480px) {
    .menu__subtitle {
      font-size: 1.875rem; } }

.menu__desc-wrap {
  overflow: hidden;
  width: 0; }

.menu__desc {
  height: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  padding: 10%; }

.menu__text {
  line-height: 1.5rem;
  font-weight: 300; }

.close {
  display: none;
  position: absolute;
  top: 30px;
  right: 15px; }
  .close::before, .close::after {
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    background: #c1c2c2;
    border-radius: 2px; }
  .close::before {
    transform: rotate(-45deg) translate(14px, 14px); }
  .close::after {
    transform: rotate(45deg); }
  @media screen and (max-width: 480px) {
    .close {
      display: flex; } }

.reviews {
  position: relative;
  background-color: #505050; }

.reviews__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  filter: grayscale(1); }
  .reviews__item:hover .reviews__content {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(47, 50, 52, 0.5);
  padding: 3.125rem 1.25rem;
  opacity: 0;
  transition: opacity .3s; }
  @media screen and (max-width: 768px) {
    .reviews__content {
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .reviews__content {
      justify-content: center; } }

.reviews__subtitle {
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .reviews__subtitle {
      margin-bottom: 0.9375rem; } }

.reviews__text {
  line-height: 1.5rem;
  margin-bottom: 0.9375rem;
  max-width: 17.5rem; }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.order {
  background: url("../img/back/order.jpg") center center/cover no-repeat, url("../img/back/texture-order.png") center center/cover no-repeat;
  background-blend-mode: screen; }

.order__title {
  text-align: center;
  margin-bottom: 2.8125rem; }

.form {
  display: flex;
  flex-flow: row nowrap;
  color: #2f3234; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      padding: 0 10%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0; } }

.form__col {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 5%;
  width: 45%; }
  .form__col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__col {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5%; }
      .form__col:last-child {
        margin-bottom: 0; } }

.form__row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1.25rem; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__row_mb_27 {
  margin-bottom: 1.6875rem; }

.form__row_mb_40 {
  margin-bottom: 2.5rem; }

@media screen and (max-width: 480px) {
  .form__row_center .form__label {
    justify-content: center;
    margin-right: 0; } }

@media screen and (max-width: 480px) {
  .form__row-button {
    justify-content: center; } }

.form__label {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  margin-right: 1.25rem; }
  .form__label:last-child {
    margin-right: 0; }

.form__label_row {
  flex-flow: row nowrap;
  align-items: center; }

.form__name {
  margin-bottom: 0.625rem;
  color: #fff; }

.form__name_mb_0 {
  margin-bottom: 0; }

.form__input,
.form__textarea {
  background-color: #fff;
  width: 100%;
  height: 2.1875rem;
  border-radius: 5px;
  border: inset 1px #d1cfcb;
  padding: 0.75rem 1.3125rem; }
  .form__input:focus,
  .form__textarea:focus {
    border: inset 2px #f9b43b; }

.form__textarea {
  resize: none;
  height: 6.875rem; }

.form__radio,
.form__checkbox {
  position: absolute;
  left: -9999px; }

.form__fake-radio {
  position: relative;
  display: flex;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 0.625rem; }
  .form__fake-radio::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    content: "";
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    background-color: #e35028; }

.form__radio:checked + .form__fake-radio::before {
  display: block; }

.form__fake-checkbox {
  position: relative;
  display: flex;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 2px;
  margin-right: 0.625rem; }
  .form__fake-checkbox::before {
    position: absolute;
    top: 17%;
    left: 17%;
    transform: translate(-25%, -25%);
    display: none;
    content: "";
    width: 0.75rem;
    height: 0.5rem;
    border-radius: 1px;
    border-left: 3px solid #e35028;
    border-bottom: 3px solid  #e35028;
    transform: rotate(-45deg); }

.form__checkbox:checked + .form__fake-checkbox::before {
  display: block; }

.form__submit {
  color: #fff;
  margin-right: 0.9375rem; }

.form__reset {
  color: #fff;
  border-radius: 5px;
  padding: 0.75rem 1.3125rem; }

.map {
  position: relative;
  background: url("../img/back/map.png") center center/cover no-repeat #2f3234; }

.footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.75rem;
  background: url("../img/back/order.jpg") center center/cover no-repeat #2f3234; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.5rem; } }
  .footer .container {
    display: flex; }
    @media screen and (max-width: 480px) {
      .footer .container {
        flex-direction: column;
        align-items: center; } }

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  font-style: normal; }
  @media screen and (max-width: 480px) {
    .contacts {
      align-items: center;
      margin-bottom: 18px; } }

.contacts__location {
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .contacts__location {
      text-align: center; } }

.contacts__phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #e45028; }
  @media screen and (max-width: 480px) {
    .contacts__phone {
      justify-content: center; } }
  .contacts__phone::before {
    display: block;
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    background: url(../icons/phone.svg) center center no-repeat;
    margin: 0 0.625rem 0.3125rem 0; }

.socials {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.socials__list {
  display: flex; }

.socials__item {
  width: 1.5625rem;
  height: 1.25rem;
  margin-right: 1.25rem; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__link {
  display: block;
  width: 100%;
  height: 100%; }

.socials__icon {
  opacity: 0.3; }
  .socials__icon:hover {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */