html {
  font-size: 16px;

  @include tablets() {
    font-size: 14px;
  }

  @include phones() {
    font-size: 12px;
  }
}

body {
  font-family: ubuntu, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

/* Позиционирование и Блочная модель */

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.section {
  height: 100vh;
  min-height: 650px;

  &_center {
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}