.btn {
  display: inline-flex;
  padding: rem(10px) rem(15px);
  border-radius: 5px;

  font-weight: 500;
  font-size: rem(13px);
  text-transform: uppercase;
  text-align: center;
}

.btn_bg_orange {
  background: #e45028;

  &:hover {
    background: #c1401e;
  }
}

.btn_bg_gray {
  background: #505050;

  &:hover {
    background: #1f2122;
  }
}