.hero {
  background: url('../img/back/salad.jpg') center center / cover no-repeat,
              url('../img/back/texture.png') center center / cover no-repeat;
  background-color:  rgba(20, 20, 20, 0.3);
  background-blend-mode: difference;
  padding: rem(15px) 0 rem(40px) 0;

  @include tablets {
    height: rem(1024px);
  }

  .hero__container {
    justify-content: space-between;
    flex: 1;
  }
}
  
.hero__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.hero__buttons {
  display: flex;
  align-items: center;
  margin-left: rem(70px);
}

.hero__nav {
  white-space: nowrap;

  @include tablets() {
    display: none;
  }
}

.hero__links {
  display: flex;
  align-items: center;
}
  
.hero__btn {
  margin-left: rem(15px);
}
  
.hero__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0.75;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.hero__burger {
  margin-right: rem(15px);

  @include tablets {
    margin-right: 0;
  }
}

.hero__burger-img {
  max-width: 100%;
}

.hero__content {
  padding-top: rem(100px);

  @include tablets {
    padding: rem(40px) rem(60px) 0 rem(60px);
    text-align: center;
  }
}

.hero__text {
  font-family: "lifehack";
  font-size: rem(65px);
  line-height: rem(85px);
  letter-spacing: rem(-1.63px);
  font-weight: 500;
  text-transform: lowercase;

  @include phones {
    font-size: rem(54px);
  }
}