.menu {
  position: relative;
  background: url('../img/back/menu.jpg') center center / cover no-repeat;
}

.menu__title {
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
}

.menu__accordeon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;

  @include tablets {
    width: 100%;
  }
}

.menu__list {
  display: flex;
  height: 100%;
}

.menu__item {
  display: flex;
  height: 100%;

  @include phones {
    display: none;
  }

  &_active {

    @include phones {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .menu__desc {
      min-width: 0;
    }
    
    .menu__subtitle {
      color: #f9b43b;
    }
  
    .menu__desc-wrap {
      width: rem(540px);

      @include tablets {
        width: 100%;
      }
    }
  }
}

@each $back in (meat, vegan, diet) {
  .menu__trigger_#{$back} {
    background: url('../img/menu/#{$back}.jpg') center center / cover  no-repeat;
  }
}

.menu__trigger {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: rem(80px);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
  }

  @include phones {
    width: rem(60px);
  }
}

.menu__subtitle {
  display: block;
  transform-origin: 0 100%;
  transform: rotate(-90deg) translate(rem(40px), 150%);
  white-space: nowrap;
  font-family: "gagalin";
  font-size: rem(40px);

  @include phones {
    font-size: rem(30px);
  }
}

.menu__desc-wrap {
  overflow: hidden;
  width: 0;
}

.menu__desc {
  height: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  padding: 10%;
}

.menu__text {
  line-height: rem(24px);
  font-weight: 300;
}

.close {
  display: none;
  position: absolute;
  top: 30px;
  right: 15px;

  &::before, &::after {
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    background: #c1c2c2;
    border-radius: 2px;
  }

  &::before {
    transform: rotate(-45deg) translate(14px, 14px);
  }

  &::after {
    transform: rotate(45deg);
  }

  @include phones {
    display: flex;
  }
}