.nav__list {
  display: flex;
  align-items: center;

  font-size: rem(13px);
  text-transform: uppercase;
  font-weight: 500;
}

.nav__item {
  display: flex;
  align-items: center;

  &::after {
    display: inline-block;
    content: "";
    width: rem(5px);
    height: rem(5px);
    border-radius: 50%;
    background: #fff;
    margin: 0 rem(15px);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}