.reviews {
  position: relative;
  background-color: #505050;
}

.reviews__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;

  background: center center / cover no-repeat;
  filter: grayscale(1);

  &:hover {
    .reviews__content {
      opacity: 1;
    }
  }

  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.reviews__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background: rgba(#2f3234, 0.5);
  padding: rem(50px) rem(20px);

  opacity: 0;
  transition: opacity .3s;

  @include tablets {
    margin: 0 auto;
    text-align: center;
  }

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.reviews__subtitle {
  margin-bottom: rem(30px);

  @include tablets {
    margin-bottom: rem(15px);
  }
}

.reviews__text {
  line-height: rem(24px);
  margin-bottom: rem(15px);
  
  @include phones {
    display: none;
  }
}