.we {
  background: url('../img/back/bred.jpg')center center / cover no-repeat #f5f2ed;
  text-align: center;
}

.we__title {
  margin-bottom: rem(55px);
}

.we__list {
  display: flex;

  @include phones {
    flex-direction: column;
    padding: 0 rem(40px);
  }
}

.we__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: rem(20px);
  
  &:last-child {
    margin-right: 0;
  }

  @include phones {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: rem(50px);
  }
}

.we__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(100px);
  margin-bottom: 35px;
}

.we__icon {
  width: 90%;
  height: rem(100px);
  svg {
    max-width: 95%;
  }
}

.we__content {
  @include phones {
    text-align: left;
  }
}

.we__subtitle {
  font-family: "lifehack";
  font-size: rem(24px);
  letter-spacing: rem(-0.6px);
  color: #2f3234;
  margin-bottom: rem(24px);

  &_mb_13 {
    margin-bottom: rem(13px);
  }
}

.we__text {
  line-height: rem(24px);
  color: rgba(47, 50, 52, 0.8);
}